<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <div class="content">
    <h2>Marketplace</h2>
    <h3 id="welcome" class="lead">Welcome, {{mc.userObject.userName}}! You have ${{mc.userObject.money.toFixed(2)}} to spend.</h3>
    <div layout="row">
      <md-card flex="50" ng-repeat="item in mc.marketItems">
        <img sm-card-image src="/views/images/{{item.name}}.jpg">
        <md-card-subtitle>{{item.name}}</md-card-subtitle>
        <md-card-subtitle>{{item.cost}}</md-card-subtitle>

        <md-card-actions>
          <button type="button" name="buy" ng-click="mc.buy(item.id)">Buy</button>
          <button type="button" name="sell" ng-click="mc.sell(item.id)">Sell</button>
        </md-card-actions>
        <md-card-footer ng-show="mc.userObject.basket[item.id-1].timesBought != 0">Your Item Qty:{{mc.userObject.basket[item.id-1].quantity}} Average Price: {{(mc.userObject.basket[item.id-1].totalSpent / mc.userObject.basket[item.id-1].timesBought).toFixed(2)}}</md-card-footer>
      </md-card>
    </div>
  </div>
</div>
